.htg-load-file {
    visibility: hidden;
    height: 0px;
}

.htg-code {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.htg-flash {
    background-color: #002a00 !important;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear;
}

.htg-top-bar {
    background-color: rgba(0, 0, 0, 0.7);
    color: green;
    font-size: 20px;
    padding: 5px 5px 5px 15px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 101;
}

.htg-controls {
    bottom: 7px;
    position: fixed;
    z-index: 101;
}

.htg-pre {
    background-color: #000;
    border: 1px solid black;
    font-size: 18px;
    height: 100%;
    overflow: auto;
    padding: 0px;
    position: relative;
}

.htg-editor-row {
    width: 100%;
}

.htg-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.htg-key {
    border: 2px solid green;
    margin: 1px;
    padding: 2px 7px 4px 7px;
}

.htg-key-active {
    color: black;
    background-color: green;
}

.htg-keyboard {
    color: green !important;
    cursor: pointer;
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
    z-index: 103;
}

.htg-line-numbers {
    float: left;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 45px !important;
}

.htg-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.htg-suggestion {
    background-color: #333;
    color: #999;
    margin-top: 3px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    z-index: 102;
}

.htg-suggestion:hover {
    background-color: #666;
    position: relative;
}

.htg-selection {
    background-color: #333;
}

.htg-top-controls {
    float: right;
}

.htg-wrapper {
    height: 100%;
    position: relative;
}
