.htg-btn-file {                          
    position: relative;
    overflow: hidden;
}

.htg-btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 50px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.htg-code {
    padding-top: 35px !important;
}

.htg-filename {
    background-color: rgba(0, 0, 0, 0.7);
    color: green;
    font-size: 20px;
    padding: 5px 5px 5px 15px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 101;
}

.htg-controls {
    position: fixed;
    bottom: 0px;
}

.htg-pre {
    background: #000;
    border: 1px solid black;
    font-size: 18px;
    height: 100%;
    overflow: auto;
    padding: 0px;
    position: relative;
}

.htg-editor-row {
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.htg-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.htg-suggestion {
    background-color: #333;
    color: #999;
    margin-top: 3px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    z-index: 102;
}

.htg-suggestion:hover {
    background-color: #666;
    position: relative;
}

.htg-selection {
    background-color: #333;
}

.htg-wrapper {
    height: 100%;
    position: relative;
}
