@-webkit-keyframes cursor {
    0%   { opacity: 0.5; }
    50%  { opacity: 0;   }
    100% { opacity: 0.5; }
}

@keyframes cursor {
    0%   { opacity: 0.5; }
    50%  { opacity: 0;   }
    100% { opacity: 0.5; }
}

.htg-alpha-key {
    background-color: #1A0E41;
}

.htg-code {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.htg-controls {
    background-color : rgba(0,0,0,0.85);
    bottom           : 0px;
    padding-top      : 10px;
    padding-bottom   : 10px;
    position         : fixed;
    width            : 100%;
    z-index          : 101;
}

.htg-controls .htg-keyboard:last-child, .htg-controls > .htg-keyboard {
    margin-bottom: 0px !important;
}

.htg-cursor {
    background-color: #FFEB3B;
    line-height: normal;
    position: absolute;
    z-index: 104;

    -webkit-animation: cursor 1s infinite; /* Safari 4+ */
    -moz-animation:    cursor 1s infinite; /* Fx 5+ */
    -o-animation:      cursor 1s infinite; /* Opera 12+ */
    animation:         cursor 1s infinite; /* IE 10+, Fx 29+ */
}

.htg-editor-row {
    width: 100%;
}

.htg-flash {
    background-color: #002a00 !important;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear;
}

.htg-key {
    border: 2px solid green;
    margin: 1px;
    padding: 2px 7px 4px 7px;
}

.htg-key-active {
    color: black;
    background-color: green;
}

.htg-keyboard {
    color: green !important;
    cursor: pointer;
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
    z-index: 103;
}

.htg-line-numbers {
    float: left;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 40px !important;
}

.htg-load-file {
    visibility: hidden;
    height: 0px;
}

.htg-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.htg-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.htg-pre {
    background-color: #000;
    border: 1px solid black;
    font-size: 18px;
    height: 100%;
    overflow: auto;
    padding: 0px;
    position: relative;
}

.htg-selection {
    background-color: #333;
}

.htg-suggestion {
    background-color: #333;
    color: #999;
    margin-top: 3px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    z-index: 102;
}

.htg-suggestion:hover {
    background-color: #666;
    position: relative;
}

.htg-top-bar {
    background-color: rgba(0, 0, 0, 0.7);
    color: green;
    font-size: 20px;
    padding: 5px 5px 0px 15px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 101;
}

.htg-top-bar .htg-keyboard {
    margin-bottom: 0px !important;
}

.htg-top-controls {
    float: right;
}

.htg-wrapper {
    height: 100%;
    position: relative;
}
